# vscode config files
.vscode/

# automatic build output
build/*
!build/latex
build/latex/*
!build/latex/userguideappendixdesktopsolutions.pdf


# virtual environment folder
.venv/

# python
__pycache__/

# miscellaneous
source/_figures/obsolete/
